
.header{
    max-width: 100%;
    margin: 0 auto;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    background-color: #f5f5f5;
    align-items: center;
}
.header__links{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.header__links a{
    /*border: 0.3px solid #a4a4a4;*/
    border-radius: 10px 0px 10px 0px;
    background-color: #f5f5f5;
    font-size: 1.125rem;
    line-height: 1.3;
    padding: 10px 20px;
    color: #141414;
    transition: border 0.3s ease-in-out;
}
.header__links a:hover{
    border: 3px solid #bdbdbd;
    color: #bdbdbd;
    font-weight: bold;
}
#menu__mobile{
    display: none;
}
#lista__mobile{
    display: none;
}
@media (max-width: 700px){
    .header{
        flex-direction: column;
        gap: 40px;
        padding: 20px;
    }
    .header a{
        background-color: #f5f5f5;
        border-radius: 4px;
    }
}

@media (max-width: 500px){
    nav{
        display: none;
        padding: 0;
        gap: 20px;
    }
    .header__mobile{
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }
    #menu__mobile{
        display: flex;
        width: 50px;
        height: 80px;
        margin-left: 3.5rem;
 
    }
    #lista__mobile{
        display: none;
        background-color: #141414;
        height: 100px;
        position: absolute;
        right: 40px;
        top: 85px;
    }
    #link__mobile__item a{
        background-color: #141414;
        color: #ffffff;
        padding: 5px;
        
    }

}
/* .btn__menu__mobile{ 
    display: none;
/* }